<div class="container fitlers-container mb-3">
  <form [formGroup]="searchForm">
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Product name" formControlName="search" />
      </div>
      <div class="col">
        <select class="form-select" formControlName="order">
          <option value="date_desc" selected>Descending Date</option>
          <option value="date_asc">Ascending Date</option>
        </select>
      </div>
    </div>
  </form>
</div>
<div class="container orders-container" *ngIf="orders">
  <div class="accordion" id="accordionExample">
    <div class="accordion-item" *ngFor="let order of orders">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          [attr.data-bs-target]="'#collapse-' + order.order_id"
          [attr.aria-expanded]="'false'"
          [attr.aria-controls]="'collapse-' + order.order_id"
        >
          <strong>Date</strong>: {{ order.creation_date | date }} | Order #{{
            order.order_id
          }}
        </button>
      </h2>
      <div
        [id]="'collapse-' + order.order_id"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body d-flex">
          <div class="image-container d-flex justify-content-center px-3">
            <img src="{{ order.product_data.image }}" class="img-fluid" />
          </div>
          <div class="text-container">
            <h4>{{order.product_data.name}}</h4>
            <p>{{ order.product_data.description }}</p>
            <button
              type="button"
              class="btn btn-danger"
              (click)="deleteOrder(order.order_id)"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
