.orders-container {
  .accordion-body {
    .image-container {
      width: 150px;
      img{
        object-fit: contain;
      }
    }

    .text-container{
        width: calc(100% - 150px);
        height: auto;
    }
  }
}
