<div class="container product-detail-page mt-3" *ngIf="product">
    <div class="row">
        <div class="col-md-6 image-container d-flex justify-content-center p-3">
            <img src="{{product.image}}" class="">
        </div>
        <div class="col-md-6 text-container">
            <h1>{{product.name}}</h1>
            <hr>
            <p>{{product.description}}</p>
            <strong class="price d-inline-block mb-3">{{product.price}}€ iva inclusa</strong><br>
            <button type="button" class="btn btn-primary" (click)="createOrder()">COMPRA ORA</button>
        </div>
    </div>
</div>
